/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    /* leaven header top */
    .leaven_header_top .leaven__top-left_content ul li {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .leaven__top-left_content ul {
        margin-bottom: 23px;
    }
    .leaven__logo {
        display: flex !important;
        justify-content: space-between;
        width: 100%;
    }

    /* sale area */
    .leaven__sale_content {
        padding: 70px 0;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}