/*

Project Name:  Leaven
Author: Nishat
Version: 1.0
Company: Pixcafe Network
Desription: Leaven is a ecommerce html5 responsive template


================================
       TABLE OF INDEX
=================================

01. 


*/

/* variables */
:root {
  --primary: #f15724;
  --secondary: #202b31;
}

/* Default css */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Montserrat";
}

.bg-repeat {
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

.custom-button {
  background-color: var(--primary);
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
}

/* Header area */

/* Header Top Area */
.leaven_header_top a {
  color: #fff;
}

.leaven_header_top a:hover {
  color: var(--primary);
}

.leaven_header_top {
  background-color: var(--secondary);
  color: #fff;
  padding: 18px 0;
  font-size: 14px;
  font-weight: 300;
}

.leaven__top-left_content ul li {
  display: inline-block;
}

.leaven__top-left_content ul li a {
  display: block;
}

.leaven__top-left_content ul li {
  margin-right: 26px;
}

.leaven__top-left_content a i {
  margin-right: 10px;
}

.leaven__top-left_content li i {
  margin-right: 10px;
}

.leaven_social_proofile ul li {
  display: inline-block;
  margin-right: 11px;
  background: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  transition: all 0.4s ease;
}

.leaven_social_proofile ul li a {
  display: block;
  color: var(--secondary);
}

.leaven_social_proofile ul li:hover {
  background: var(--primary);
}

.leaven_social_proofile ul li:hover a {
  color: var(--secondary);
}

.leaven__site_meta ul li {
  display: inline-block;
  position: relative;
}

.leaven__site_meta ul li a {
  display: block;
}

.leaven__site_meta ul li:last-child {
  margin-left: 15px;
}

.leaven__site_meta ul li:last-child span {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 80%;
  border-radius: 50%;
  right: -11px;
  bottom: 9px;
  background: var(--primary);
  text-align: center;
  font-weight: bolder;
  border: 1px solid var(--primary);
  line-height: 20px;
}

.leaven__site_meta ul li:last-child span:hover {
  color: #fff;
}

/* 
       02 - header bottom area
   */

.leaven_header_bottom {
  padding: 25px 0;
}

.leaven__middle_wrap {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.leaven__logo h1 {
  color: var(--secondary);
  font-family: "Mont Heavy DEMO";
}

.leaven__logo h1 span {
  color: var(--primary);
}

/* Main Menu */
.navbar-collapse.leaven__main_menu {
  flex-grow: 0;
}

.navbar-collapse.leaven__main_menu {
  flex-grow: 0;
}

.leaven__main_menu ul {
  margin-right: 113px;
}

.leaven__main_menu ul li {
  position: relative;
  display: inline-block;
}

.leaven__main_menu ul li a {
  color: var(--secondary);
  padding: 2px 15px;
  font-family: "Montserrat";
  font-weight: 600;
}

.leaven__main_menu ul li a:hover {
  color: var(--primary);
}

/* Dropdown */
.leaven__main_menu ul li.dropdown ul {
  position: absolute;
  top: 150%;
  z-index: 9;
  left: 0;
  width: 250px;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.leaven__main_menu ul li.dropdown:hover ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.leaven__main_menu ul li.dropdown ul li {
  display: block;
  border-bottom: 1px solid #685f5f;
  padding: 11px;
}

.leaven__main_menu ul li.dropdown a i {
  color: var(--primary);
  font-weight: bolder;
  margin-left: 5px;
}

.leaven__main_menu ul li.dropdown ul li:last-child {
  border-bottom: 0;
}

.leaven__main_menu ul li.dropdown ul li a {
  color: #fff;
  font-size: 80%;
}

.leaven__main_menu ul li.dropdown:hover a,
.leaven__main_menu ul li.dropdown:hover ul li a:hover {
  color: var(--primary);
}

.leaven__main_menu ul li.dropdown:hover ul li a {
  color: #fff;
}

/* Search */
.leaven__search form {
  display: flex;
  justify-content: flex-end;
}

.leaven__search form input {
  border: 1px solid var(--primary);
  padding: 5px 15px 5px;
  border-radius: 11px 0 0 11px;
}

.leaven__search form button {
  background-color: var(--primary);
  color: #fff;
  border: 0;
  padding: 5px 15px;
  border-radius: 0 11px 11px 0;
  transition: all 1s ease-in-out;
}

.leaven__search form button:hover {
  background-color: transparent;
  color: var(--secondary);
}

/* 
      * ============================================
            03. Hero Area
      * ============================================
    */

section#leaven__hero_area {
  color: #fff;
}

.leaven__hero_single_slide {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.leaven__hero_single_slide::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  opacity: 0.3;
}

.leaven__hero_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: 100px;
}

.leaven__hero_content h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 40px;
}

.leaven__hero_content h1 {
  font-size: 75px;
  margin: 20px 0;
  font-family: "Bebas Neue";
  font-weight: bold;
}

section#leaven__hero_area .slick-dots {
  bottom: 12%;
}

section#leaven__hero_area .slick-dots li {
  width: 15px;
  height: 15px;
  background-color: #ddd;
  border-radius: 50%;
}

section#leaven__hero_area .slick-dots li.slick-active {
  background-color: var(--primary);
}

/* 
      * ============================================
            04. Promo Area
      * ============================================
    */

section#leaven__promo_area {
  margin-top: -113px;
  z-index: 1;
  position: relative;
  top: 50px;
}

.bg-section {
  box-shadow: 0 0 5px #a7a3a3;
}

.leaven__promo_content h2 {
  color: var(--secondary);
  font-family: "Bebas Neue";
  font-size: 25px;
}

.leaven__promo_content p {
  color: var(--secondary);
}

.leaven__promo_icon {
  margin-right: 30px;
}

.leaven__promo_icon i {
  font-size: 30px;
}

.leaven__single_promo_item {
  transition: all 0.4s ease;
  padding: 30px 40px;
}

.leaven__single_promo_item:hover,
.leaven__single_promo_item.active {
  background: var(--primary);
  color: #fff;
  cursor: pointer;
}

.leaven__single_promo_item:hover .leaven__promo_content h2,
.leaven__single_promo_item:hover .leaven__promo_content p {
  color: #fff;
}

.leaven__single_promo_item.active h2,
.leaven__single_promo_item.active p {
  color: #fff;
}

/* 
      * ============================================
            05. Sale Area
      * ============================================
     */
#leaven__sale_area {
  padding: 50px 0;
  background: #f9f9f9;
}

.leaven__sale_content {
  padding: 200px 0;
  text-align: center;
}

.leaven__sale_content h2 {
  margin-bottom: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--secondary);
  font-size: 47px;
}

.leaven__sale_img {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

/* 
      * ============================================
            06. Offer Area
      * ============================================
     */

.leaven__single_feature_item {
  transition: all .4s ease-in;
  padding-bottom: 50px;
}

.leaven__single_feature_item:hover {
  box-shadow: 0 0 5px #b8b8b8;
}

section#leaven__offer_area {
  padding: 120px 0;
}

.leaven__single_offer {
  text-align: right;
  color: #fff;
}

.leaven__single_offer img {
  margin-bottom: 15px;
  width: 100%;
}

.leaven__single_offer h1 {
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
}

.leaven__offer_content {
  width: 150px;
  margin-left: auto;
  padding: 22px 13px 0 0px;
}

.leaven__single_offer img:last-child {
  margin-bottom: 0;
}

.leaven__offer_content a {
  color: #fff;
  margin-top: 6px;
  display: inline-block;
  text-decoration: underline;
  text-transform: uppercase;
}

.leaven__offer_content a:hover {
  color: var(--primary);
}

.leaven__single_offer:last-child .leaven__offer_content a:hover {
  color: var(--primary);
}

.leaven__single_offer:last-child .leaven__offer_content,
.leaven__single_offer:last-child .leaven__offer_content a {
  margin-right: auto;
  margin-left: 0;
  text-align: left;
  color: #202b31;
}

/* 
      * ============================================
            07. Features product Area
      * ============================================
     */

.leaven__feature_img {
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
  cursor: pointer;
}

.leaven__section_title {
  margin-bottom: 70px;
}

.leaven__section_title h2 {
  font-weight: bold;
}

.three_dots ul li {
  display: inline-block;
}

.three_dots ul li i {
  font-size: 11px;
  color: var(--primary);
}

.product_sizes ul li {
  display: inline-block;
}

.product_sizes ul li a {
  display: block;
  color: var(--secondary);
  border: 2px solid var(--secondary);
  width: 39px;
  height: 39px;
  line-height: 39px;
  font-weight: bold;
  margin-top: 12px;
  margin-right: 6px;
  transition: all 0.4s ease-in;
}

.product_sizes ul li a:hover {
  background-color: var(--primary);
  color: #fff;
  border: 2px solid transparent;
}

.leaven__feature_content h3 {
  font-size: 22px;
  font-family: "Mont Heavy DEMO";
}

.leaven__feature_content h2 {
  font-size: 20px;
  font-family: auto;
  transition: all 0.4s ease-in-out;
}

.leaven__feature_content h2:hover {
  color: var(--primary);
}

.leaven__feature_img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--secondary);
  opacity: 0.78;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in-out;
}

.leaven__feature_overlay a.leaven__wishlist {
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 13px;
}

.leaven__feature_overlay {
  display: none;
}

.leaven__overlay_action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leaven__overlay_action.leaven__sold_out a {
  background-color: #000;
}

.leaven__overlay_action a {
  color: #fff;
  display: block;
  background-color: var(--primary);
  margin-bottom: 8px;
  padding: 10px;
}

.leaven__feature_img:hover .leaven__feature_overlay {
  display: block;
}

.leaven__single_feature_item:hover .leaven__feature_img::after {
  visibility: visible;
  opacity: .75;
}


span.leaven__product_ribbon {
  position: absolute;
  top: 38px;
  left: 0;
  padding: 13px 35px 13px 21px;

  color: #fff;
  text-transform: uppercase;
}

span.leaven__product_ribbon:after {
  position: absolute;
  top: 0;
  right: -19px;
  content: '';

  width: 30px;
  height: 100%;
  clip-path: polygon(100% 0%, 56% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

span.leaven__sale,
span.leaven__sale:after {
  background: #cb22f4;
}

span.leaven__new_arrivals,
span.leaven__new_arrivals:after {
  background: var(--primary);
}

/* 
      * ============================================
            08. call to action Area
      * ============================================
     */
.leaven__call_to_action_content {
  padding: 70px 100px;

  background-blend-mode: overlay;
  background-color: rgba(32, 43, 48, .7);
}

.leaven__call_to_action_content h3 {
  font-size: 20px;
  font-family: 'Montserrat';
}

.leaven__call_to_action_content h1 {
  font-size: 49px;
  font-family: 'Mont Heavy DEMO';
  margin-bottom: 13px;
}

/* 
      * ============================================
            09. best seller Area
      * ============================================
     */
section#leaven__best_seller_area {
  padding: 80px 0;
}

.leaven__best_seller_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 38px;
  grid-row-gap: 20px;
  padding-left: 20px;
}

.leaven__best_featured_img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.leaven__best_featured_img a {
  color: #fff;
  font-size: 14px;
  margin: 20px;
  transition: all .4s ease-in;
}

.leaven__best_featured_img a:hover {
  color: var(--primary);
}

.leaven__best_single_product h1 {
  font-size: 16px;
  font-family: montserrat;
  font-weight: bold;
}

.leaven__best_single_product {
  text-align: center;
}

.leaven__best_single_product h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 7px;
}

.best_product_thumb {
  height: 180px;
  width: auto;
  margin-bottom: 20px;
  background-position: center;
  background-size: contain;
}

/* 
      * ============================================
            10. best viewed product Area
      * ============================================
     */
section#leaven__most_viewed_products_area {
  background-color: #f5f5f6;
  padding: 100px 0;
  margin-bottom: 100px;
}

.leaven__single_carousel_thumb {
  height: 250px;
  background-position: center;
  background-size: contain;
}

.leaven__single_carousel_item {
  text-align: center;
  padding: 50px;
  transform: scale(.6);
  transition: all .4s ease-in;
}

.leaven__single_carousel_item h2 {
  font-size: 18px;
}

.leaven__single_carousel_item p {
  font-size: 14px;
}

.leaven__carousel_product_meta {
  margin: 25px 0;
}

.leaven__carousel_product_meta ul li a i {
  height: 37px;
  width: 37px;
  transition: all .4s ease-in;
  line-height: 37px;
  text-align: center;
  background-color: #f5f5f6;
  color: var(--secondary);
  margin-right: 10px;
}

.leaven__carousel_product_meta ul li a i:hover {
  background-color: var(--primary);
  color: #fff;
}


.leaven__single_carousel_item.slick-slide.slick-current.slick-active.slick-center {
  transform: scale(1.2);
  padding: 70px 50px;
}

.leaven__single_carousel_item .leaven__carousel_product_meta {
  opacity: 0;
  margin-top: -30px;
  transition: all .4s ease-in;
}


.leaven__single_carousel_item.slick-slide.slick-current.slick-active.slick-center .leaven__carousel_product_meta {
  opacity: 1;
  margin-top: 0;
}

.leaven__single_carousel_item.slick-slide.slick-current.slick-active.slick-center h2 {
  font-size: 80%;
  font-weight: bold;
  margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'FontAwesome';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #000;
  border: 1px solid;
  padding: 10px 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
  content: '\f104';
}

.slick-next:before {
  content: '\f105';
}

.slick-prev {
  left: 33%;
  z-index: 9;
}

.slick-next {
  right: 34%;
}

/* 
      * ============================================
            11. subscribe Area
      * ============================================
     */
#leaven__subscribe_area {
  padding: 70px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.leaven__subscribe h2 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 45px;
}

.leaven__subscribe h4 {
  font-family: 'Work Sans';
  font-size: 23px;
}

.leaven__subscribe form input[type="text"] {
  border: 2px solid var(--primary);
  padding: 13px 14px;
  border-radius: 5px;
  margin-right: 35px;
}

.leaven__subscribe form input[type="submit"] {
  background: var(--primary);
  border-radius: 5px;
  border: transparent;
  color: #fff;
  width: 200px;
  margin-right: 0;
  height: 54px;
}

.leaven__subscribe form {
  margin-top: 35px;
}

.leaven__subscribe form span.small-text {
  font-family: 'Work Sans';
  font-size: 14px;
}

/* 
      * ============================================
            12. payment method  Area
      * ============================================
     */
#leaven__payment_area {
  padding: 100px 0;
}

#leaven__payment_area .leaven__section_title {
  margin-bottom: 25px;
}

.leaven__payment_method {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.leaven__payment_method img {
  width: 100px;
  margin: auto;
  height: 50px;
}

/* 
      * ============================================
            13. footer Area
      * ============================================
     */

/* .footer top area */
.leaven__footer_top_area {
  background-color: var(--secondary);
  padding: 40px 0;
}

.footer-widget-title {
  color: #fff;
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 8px;
}

h2.footer-widget-title {
  font-size: 35px;
  font-weight: 600;
}

h4.footer-widget-title:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  background: var(--primary);
  bottom: 0;
  left: 0;
}

h2.footer-widget-title span {
  color: var(--primary);
  margin-left: -7px;
}

.footer-widget-content ul li a {
  color: #fff;
  font-family: 'Work Sans';
  font-size: 16px;
}

.footer-widget-content ul li a:hover {
  color: var(--primary);
}

.footer-widget-content ul li a i {
  margin-right: 12px;
}

.contact-list {
  color: #fff;
  font-size: 15px;
}

.contact-list i {
  margin-right: 11px;
}

.contact-info ul li {
  margin-bottom: 5px;
}

.social-touch {
  margin-top: 35px;
}

.social-touch h4 {
  margin-bottom: 20px;
  font-size: 16px;
}

.social-touch ul li {
  display: inline-block;
  margin-right: 5px;
}

.social-touch ul li a {
  display: block;
  background: #fff;
  color: var(--secondary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.social-touch ul li a:hover {
  background-color: var(--primary);
  color: #fff;
}

/*  .footer bottom  */
.leaven__footer_bottom_area {
  padding: 25px 0;
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  font-family: 'Work Sans';
}

.leaven__footer_bottom_area a {
  color: #fff;
  text-decoration: none;
}


/* 
      * ============================================
            01. error area
      * ============================================
     */
section#leaven__error {
  padding: 150px 0;
}

.error-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-img img {
  margin: auto;
}

h2.error-title {
  position: absolute;
  left: 50%;
  margin-left: 31px;
  transform: translateX(-50%);
  bottom: 0px;
  color: var(--primary);
  font-family: 'Work Sans';
}

.error-area {
  position: relative;
}

.error-area a.action-btn {
  background: var(--secondary);
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 11px 30px;
  position: absolute;
  left: 50%;
  margin-top: 26px;
  transform: translateX(-50%);
}

/* 
      * ============================================
            01.coming soon page
      * ============================================
     */
section#comingSoonArea {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.comingWrap h2 {
  font-family: work sans;
  font-weight: bold;
  font-size: 150px;
  line-height: 0.9em;
  color: var(--primary);
}

.comingWrap p {
  margin-top: 42px;
  font-family: 'Work Sans';
  font-size: 40px;
  margin-bottom: 50px;
}



.timer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.time {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  transform: rotate(45deg);
  width: 100%;
  height: 100%;
  border: 3px solid var(--primary);
}



p.notify {
  margin: 0;
  font-size: 20px;
  font-family: 'Work Sans';
  margin-bottom: 15px;
  margin-top: 36px;
}

.comingWrap form input {
  width: 200px;
  box-sizing: border-box;
  padding: 9px 0px 9px 10px;
  background: transparent;
  border: 3px solid var(--primary);
  border-radius: 7px;
  margin-right: 28px;
}

.comingWrap form input[type="submit"] {
  margin-right: 0;
  color: #fff;
  background: var(--primary);
}

.comingWrap form input::placeholder {
  color: #fff;
  font-family: 'Work Sans';
  font-size: 14px;
}

.social-icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

.social-icon ul li a {
  color: var(--secondary);
  background: #fff;
  margin-right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  line-height: 30px;
}

.social-icon ul li a:hover {
  color: #fff;
  background: var(--primary);
}

/* 
      * ============================================
            01.contact page
      * ============================================
     */
.breadcrumb_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.breadcrumbBg {
  background: #ededed;
}

.breadcrumb_title nav ol li.breadcrumb-item.active {
  color: var(--primary);
  font-family: 'Montserrat';
  font-size: 13px;
}

.breadcrumb_title nav ol li.breadcrumb-item.active i {
  color: #000;
  margin-right: 8px
}

.breadcrumb_title nav ol li {
  font-family: 'Montserrat';
  font-size: 13px;
}

.breadcrumb_title nav ol li a {

  color: #000;
}

li.breadcrumb-item:before {
  display: none;
}

.breadcrumb_title h3 {
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 7px;
}

.contact {
  padding: 100px 0;
}

.contact-info h4 {
  font-size: 25px;
  font-family: 'Work Sans';
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-wrap {
  display: flex;
}

.contact-wrap i {
  margin-right: 20px;
  color: var(--primary);
  margin-top: 6px;
}

.contact-wrap p {
  font-family: 'Work Sans';
  font-size: 16px;
  color: var(--primary);
}

.contact-info-list-right form label {
  font-size: 14px;
  color: #202b30;
  margin-bottom: 7px;
  font-weight: bold;
}

.contact-info-list-right form input[type="submit"] {
  display: block;
  margin-left: auto;
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 5px 30px;
}

.quickConnect {
  margin-top: 40px;
}

.quickConnect .social ul li {
  display: inline-block;
  background: transparent;
}

.quickConnect .social ul li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.contact-info-list-right form input,
.contact-info-list-right form textarea {
  background: #ededed;
  border: 0;
}