@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.eot');
    src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.woff') format('woff'),
        url('Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont ExtraLight DEMO';
    src: url('Mont-ExtraLightDEMO.eot');
    src: url('Mont-ExtraLightDEMO.eot?#iefix') format('embedded-opentype'),
        url('Mont-ExtraLightDEMO.woff2') format('woff2'),
        url('Mont-ExtraLightDEMO.woff') format('woff'),
        url('Mont-ExtraLightDEMO.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont Heavy DEMO';
    src: url('Mont-HeavyDEMO.eot');
    src: url('Mont-HeavyDEMO.eot?#iefix') format('embedded-opentype'),
        url('Mont-HeavyDEMO.woff2') format('woff2'),
        url('Mont-HeavyDEMO.woff') format('woff'),
        url('Mont-HeavyDEMO.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.eot');
    src: url('BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff'),
        url('BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular_1.eot');
    src: url('BebasNeue-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Regular_1.woff2') format('woff2'),
        url('BebasNeue-Regular_1.woff') format('woff'),
        url('BebasNeue-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular_2.eot');
    src: url('BebasNeue-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Regular_2.woff2') format('woff2'),
        url('BebasNeue-Regular_2.woff') format('woff'),
        url('BebasNeue-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular_3.eot');
    src: url('BebasNeue-Regular_3.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Regular_3.woff2') format('woff2'),
        url('BebasNeue-Regular_3.woff') format('woff'),
        url('BebasNeue-Regular_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Light.eot');
    src: url('WorkSans-Light.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-Light.woff2') format('woff2'),
        url('WorkSans-Light.woff') format('woff'),
        url('WorkSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-SemiBold.eot');
    src: url('WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-SemiBold.woff2') format('woff2'),
        url('WorkSans-SemiBold.woff') format('woff'),
        url('WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}